name: WorldTools 1.20.4 Build

on:
  pull_request:
  push:
    branches:
      - "1.20.4"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Gradle Wrapper Verification
        uses: gradle/wrapper-validation-action@v2

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Elevate wrapper permissions
        run: chmod +x ./gradlew

      - name: Build WorldTools
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build

      - name: Upload Fabric Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: WorldTools-fabric
          path: fabric/build/libs/*.jar

      - name: Upload Forge Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: WorldTools-forge
          path: forge/build/libs/*.jar
