name: Fabric Modrinth and CurseForge Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

env:
  MINECRAFT_VERSION: "1.20.1"
  FABRIC_API_VERSION: "0.91.0+1.20.1"
  FABRIC_LANGUAGE_KOTLIN_VERSION: "1.10.16+kotlin.1.9.21"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Gradle Wrapper Verification
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Elevate wrapper permissions
        run: chmod +x ./gradlew

      - name: Build Mod
        run: ./gradlew fabric:build

      - name: Upload Fabric Artifact
        uses: actions/upload-artifact@v3
        with:
          name: WorldTools-fabric-${{ github.ref_name }}
          path: fabric/build/libs/WorldTools-fabric-${{ github.ref_name }}.jar

      - name: Generate Changelog
        id: changelog
        uses: metcalfc/changelog-generator@v4.1.0
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          changelog: ${{steps.changelog.outputs.changelog}}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          curseforge-id: 909868

          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-id: FlFKBOIX

          files: |
            fabric/build/libs/WorldTools-fabric-${{ github.ref_name }}.jar
          name: WorldTools-fabric-${{ github.ref_name }}
          version: ${{ github.ref_name }}
          loaders: |
            fabric
          game-versions: |
            ${{ env.MINECRAFT_VERSION }}
          dependencies: |
            fabric-api@${{ env.FABRIC_API_VERSION }}(required){modrinth:P7dR8mSH}{curseforge:306612}
            fabric-language-kotlin@{{ env.FABRIC_LANGUAGE_KOTLIN_VERSION }}(required){modrinth:Ha28R6CL}{curseforge:351264}
